<h5 class="bg-white">Temporadas: <small class="text-muted">La casa de papel</small></h5>
<hr>
<p class="animated fadeIn text-justify" >La casa de papel es una serie española que se ha convertido en una de las mayores ficciones sobre atracos jamás vista.
  La serie, que cuenta con cuatro temporadas, trata sobre el espectacular asalto, por parte de una banda de delincuentes, de la Fábrica Nacional de la Moneda y Timbre, en las dos primeras entregas, y del Banco de España, en la tercera y cuarta.
  La combinación de los géneros de acción, intriga y thriller junto a su atractivo argumento y el peculiar carácter de sus personajes la convierten en la serie española más exitosa de todos los tiempos.</p>
<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card" >
      <img src="https://i.imgur.com/fmsOmWt.jpg" style="height: 370px;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Temporada 1</h5>
        <hr>
        <h6 class="card-text">Capitulos: <p class="text-muted">9</p></h6>
        <h6 class="card-text">Emisión: <p class="text-muted">2 de mayo de 2017</p></h6>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card" >
      <img src="https://i.imgur.com/GHivEOJ.jpg" style="height: 370px;" class="card-img-top " alt="...">
      <div class="card-body">
        <h5 class="card-title">Temporada 2</h5>
        <hr>
        <h6>Capitulos: <p class="text-muted">6</p></h6>
        <h6 class="card-text">Emisión: <p class="text-muted">16 de octubre de 2017</p></h6>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://i.imgur.com/jHZpqSu.jpg" style="height: 370px;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Temporada 3</h5>
        <hr>
        <h6 class="card-text">Capitulos: <p class="text-muted">8</p></h6>
        <h6 class="card-text">Emisión: <p class="text-muted">19 de julio de 2019	</p></h6>
        
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://i.imgur.com/E3Pxzjz.jpg" style="height: 370px;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Temporada 4</h5>
        <hr>
        <h6 class="card-text">Capitulos: <p class="text-muted">8</p></h6>
        <h6 class="card-text">Emisión: <p class="text-muted">03 de abril 2020</p></h6>
      </div>
    </div>
  </div>
</div>